*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

section{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-image:url(1.jpg);
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

section h2{
    font-size:16vh;
    color:black;
    background:white;
    padding: 10px 40px;
    mix-blend-mode:screen;
}

section h4{
    font-size:6vh;
    color:white;
    background:purple;
    margin-top:550px;
    mix-blend-mode:screen;
}