body {
    background: url(/img/testneon.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color:white;
    font-family:sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-family: sans-serif;
    color:white;
    font-size: 0.8em;
}

.image{
    height: 250px;
    width: 250px;
}

.zoom {
    transition: transform 1.5s; /* Animation */
} 
  
.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}