body {
    background-image:url(../img/bgleaf.jpg);
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    font-family:sans-serif;
}

form {
    display: inline-block;
}

h1{
    color:white;
}